<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs with Express</title>
</head>

<body>
    <h1>This is SignUp Form</h1>

    <form>
        <p>Username : </p>
        <input type="text" name="name" id="name" placeholder="Enter your Name">
        <br>
        <p>Email : </p>
        <input type="email" name="email" id="email" placeholder="Enter your Email">
    </form>
</body>

</html>