<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create user</title>
</head>

<body>
    <h1>Sign Up</h1>

    <form action="/signup" method="POST">
        <p>Username : </p>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <br>
        <p>Email : </p>
        <input type="email" name="email" id="email" placeholder="Enter your email">>
        <br>
        <p>Password : </p>
        <input type="password" name="password" id="password" placeholder="Enter your password">">
        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>